<% layout('dashboard/layout') -%>

<!--start Loan Status content-->
<div class="breadcrumbs">
    <div class="col-sm-12">
        <div class="page-header float-left">
            <div class="page-title">
                <h1 class="page_title_text">TITLE</h1>
                <a href="#">List of invites <span> > </span></a><a href="#"> Loan Page</a>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3 review_content">
    <div class="company_dashboard">
        <div class="search_context my_context active" data-step="1">
            <div class="search_group">
                <div class="dropdown">
                    <input type="text" class="form-control js-link" aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <span class="down_icon"><i class="fas fa-chevron-down"></i></span>
                    <ul class="js-dropdown-list">
                        <li>Oxford</li>
                        <li>Oxford, MS</li>
                        <li>Oxford Middle School, Oxford, MS</li>
                        <li>Oxford Middle School, Oxford, MS</li>
                    </ul>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="search">Search</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main_search_product oxford">

                        <div class="search_product_single">
                            <ul>
                                <li>
                                    <img src="/images/signin_signup_dashboard/1.png" alt="">
                                </li>
                                <li class="product_description">
                                    <h6>3 bed 2 bath 2,140 sqft</h6>
                                    <h6> 325 Lakes Dr N, Oxford, MS 38655</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                        aute
                                        irure dolor in reprehenderit in voluptate </p>
                                </li>
                            </ul>
                            <!--<div class="search_product_image">-->
                            <!---->
                            <!--</div>-->
                            <!--<div class="product_description">-->
                            <!---->
                            <!--</div>-->
                        </div>

                        <div class="tab_links_for_content">

                            <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="deeds-tab" data-toggle="tab" href="#deeds"
                                       role="tab" aria-controls="deeds" aria-selected="true">Deeds</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="second_mortgages-tab" data-toggle="tab"
                                       href="#second_mortgages" role="tab" aria-controls="second_mortgages"
                                       aria-selected="false">Second mortgages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="municipal_tax_rolls-tab" data-toggle="tab"
                                       href="#municipal_tax_rolls" role="tab" aria-controls="municipal_tax_rolls"
                                       aria-selected="false">Municipal tax rolls</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="court_judgments-tab" data-toggle="tab"
                                       href="#court_judgments" role="tab" aria-controls="court_judgments"
                                       aria-selected="false">Court Judgments</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="deeds" role="tabpanel"
                                     aria-labelledby="deeds-tab">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam aliquam quaerat voluptatem.
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="second_mortgages" role="tabpanel"
                                     aria-labelledby="second_mortgages-tab">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="tab-pane fade" id="municipal_tax_rolls" role="tabpanel"
                                     aria-labelledby="municipal_tax_rolls-tab">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="tab-pane fade" id="court_judgments" role="tabpanel"
                                     aria-labelledby="court_judgments-tab">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                        dolore magnam aliquam quaerat voluptatem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book_meeting">

            <div class="card_title">
                <h3>Book Meeting</h3>
            </div>

            <div class="book_meeting_calendar">

                <div class="calendar_part">
                    <div class="cal">
                        <div class="calendar" id="calendar-app">
                            <div class="calendar--day-view" id="day-view">
                                <span class="day-view-exit" id="day-view-exit">&times;</span>
                                <span class="day-view-date" id="day-view-date">MAY 29 2016</span>
                                <div class="day-view-content">
                                    <div class="day-highlight">
                                        You <span class="day-events" id="day-events">had no events for today</span>.
                                        &nbsp; <span tabindex="0"
                                                     onkeyup="if(event.keyCode != 13) return; this.click();"
                                                     class="day-events-link" id="add-event" data-date>Add a new event?</span>
                                    </div>
                                    <div class="day-add-event" id="add-day-event-box" data-active="false">
                                        <div class="">
                                            <div class="half">
                                                <label class="add-event-label">
                                                    Name of event
                                                    <input type="text" class="add-event-edit add-event-edit--long"
                                                           placeholder="New event" id="input-add-event-name">

                                                </label>
                                            </div>
                                            <div class="qtr">
                                                <label class="add-event-label">
                                                    Start Time
                                                    <input type="text" class="add-event-edit" placeholder="8:15"
                                                           id="input-add-event-start-time"
                                                           data-options="1,2,3,4,5,6,7,8,9,10,11,12"
                                                           data-format="datetime">
                                                    <input type="text" class="add-event-edit" placeholder="am"
                                                           id="input-add-event-start-ampm" data-options="a,p,am,pm">
                                                </label>
                                            </div>
                                            <div class="qtr">
                                                <label class="add-event-label">
                                                    End Time
                                                    <input type="text" class="add-event-edit" placeholder="9"
                                                           id="input-add-event-end-time"
                                                           data-options="1,2,3,4,5,6,7,8,9,10,11,12"
                                                           data-format="datetime">
                                                    <input type="text" class="add-event-edit" placeholder="am"
                                                           id="input-add-event-end-ampm" data-options="a,p,am,pm">
                                                </label>
                                            </div>
                                            <div class="half">
                                                <a onkeyup="if(event.keyCode != 13) return; this.click();"
                                                   tabindex="0" id="add-event-save"
                                                   class="event-btn--save event-btn">save</a>
                                                <a tabindex="0" id="add-event-cancel"
                                                   class="event-btn--cancel event-btn">cancel</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="day-events-list" class="day-events-list">

                                    </div>
                                    <div class="day-inspiration-quote" id="inspirational-quote">
                                        Every child is an artist. The problem is how to remain an artist once he
                                        grows up. –Pablo Picasso
                                    </div>
                                </div>
                            </div>
                            <div class="calendar--view" id="calendar-view">
                                <div class="cview__month">
                                    <span class="cview__month-last" id="calendar-month-last">Apr</span>
                                    <span class="cview__month-current" id="calendar-month">May</span>
                                    <span class="cview__month-next" id="calendar-month-next">Jun</span>
                                </div>
                                <p class="cal_par">Schedule time for Buyer and Seller</p>
                                <div class="cview__header">Sun</div>
                                <div class="cview__header">Mon</div>
                                <div class="cview__header">Tue</div>
                                <div class="cview__header">Wed</div>
                                <div class="cview__header">Thu</div>
                                <div class="cview__header">Fri</div>
                                <div class="cview__header">Sat</div>
                                <div class="calendar--view" id="dates">
                                </div>
                            </div>
                            <div class="footer">
                                <span><span id="footer-date" class="footer__link">Today is May 30</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="_choose_time_part">
                    <h3>Book a 60 min meeting</h3>
                    <p>What time works best?</p>
                    <div class="books_input">
                        <p class="checked">9:00 AM</p>
                        <p>9:30 AM</p>
                        <p>10:00 AM</p>
                        <p>10:30 AM</p>
                        <p>11:00 AM</p>
                        <p>11:30 AM</p>
                        <p>12:00 AM</p>
                        <p>12:30 AM</p>
                        <p>13:00 AM</p>
                    </div>
                </div>

                <div class="notes">
                    <h5>Choose Location</h5>
                    <div class="choose_location">
                        <label for="loc" class="sr-only"></label>
                        <input type="text" placeholder="Add location" id="loc">
                    </div>
                    <h5>Add some notes</h5>
                    <div>
                        <label for="buyer">Buyer:</label>
                        <textarea name="" id="buyer" cols="30" rows="10" placeholder="Notes"></textarea>
                    </div>
                    <div>
                        <label for="seller">Seller:</label>
                        <textarea name="" id="seller" cols="30" rows="10" placeholder="Notes"></textarea>
                    </div>
                </div>

            </div>

            <div class="text-right">
                <button class="book_meeting_btn">Book Meeting</button>
            </div>
        </div>
        <div class="upload_files">
            <div class="card_title">
                <h3>Upload Files</h3>
            </div>
            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"/>
                    <div class="drag-text">
                        <h3>Drop files here to start uploading</h3>
                        <h4>or</h4>
                        <button class="file-upload-btn" type="button"
                                onclick="$('.file-upload-input').trigger( 'click' )">Select file
                        </button>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image"/>
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
                <div class="send_doc text-right">
                    <button class="book_meeting_btn">SEND DOCUMENTS</button>
                </div>
            </div>
        </div>
        <div class="upload_files">
            <div class="card_title">
                <h3>Upload Closing Documents</h3>
            </div>
            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"/>
                    <div class="drag-text">
                        <h3>Drop files here to start uploading</h3>
                        <h4>or</h4>
                        <button class="file-upload-btn" type="button"
                                onclick="$('.file-upload-input').trigger( 'click' )">Select file
                        </button>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image"/>
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>
            <!--<div class="progressVisible">-->
            <!--<p class="zip_file_name">my_website.zip</p>-->
            <!--<div class="percent ng-binding">100%</div>-->
            <!--<div class="progress-bar">-->
            <!--<div class="uploaded" ng-style="{'width': progress+'%'}" style="width: 100%;"></div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="send_doc text-right">
                <button class="book_meeting_btn">SEND DOCUMENTS</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/dashboard/calendar.js"></script>
<!--end Loan Status content-->
