<% layout('dashboard/layout') -%>

    <div class="dashboard_home_context">
        <div class="content_home_dash">
            <div class="row">

                <div class="col-md-6">
                    <div class="four_col first_col">
                        <div class="col_header">
                            <h3>Loan Status</h3>
                        </div>
                        <div class="col_body">
                            <div class="step-container">
                                <div class="main_steps success">
                                    <div class='step' data-step='1'><i class="fas fa-check"></i></div>
                                    <p>Select Property</p>
                                </div>
                                <div class='step-separator' data-step='1'></div>
                                <div class="main_steps active">
                                    <div class='step' data-step='2'>
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <p>Initiate Contract</p>
                                </div>
                                <div class='step-separator' data-step='2'></div>
                                <div class="main_steps">
                                    <div class='step' data-step='3'>
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <p>Invite Buyer</p>
                                </div>
                            </div>
                            <div class="links_all">
                                <a href="dashboard/loan_status" class="review">Review</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="four_col first_col">
                        <div class="col_header">
                            <h3>Loan Status</h3>
                        </div>
                        <div class="col_body">
                            <div class="pdf_files_review">
                                <div class="add_pdf_file">
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_pdf_file">
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><img src="/images/signin_signup_dashboard/pdf.png" alt=""></li>
                                        <li>
                                            <h3>Document title.pdf</h3>
                                            <h5>Added 5 min. ago</h5>
                                        </li>
                                        <li>
                                            <img src="/images/signin_signup_dashboard/download.svg" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="links_all">
                                <a href="#" class="review">Review All</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="four_col">
                        <div class="col_header">
                            <h3>Unread Messages</h3>
                            <h4><span>23</span></h4>
                        </div>
                        <div class="col_body">
                            <div class="unread_messages">
                                <ul>
                                    <li>
                                        <div class="active_user user">
                                            <img src="/images/signin_signup_dashboard/user.ac.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3><span></span> Sheila Carter </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing... elit, sed do
                                            eiusmod
                                            tempor incididunt
                                        </p>
                                    </li>
                                    <li>
                                        <div class="hour">2h</div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="offline_user user">
                                            <img src="/images/signin_signup_dashboard/offline.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>
                                            <span class="offline"></span> Sheila Carter </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing... elit, sed do
                                            eiusmod
                                            tempor incididunt
                                        </p>
                                    </li>
                                    <li>
                                        <div class="hour">2h</div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="active_user user">
                                            <img src="/images/signin_signup_dashboard/user.ac.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>
                                            <span></span> Sheila Carter </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing... elit, sed do
                                            eiusmod
                                            tempor incididunt
                                        </p>
                                    </li>
                                    <li>
                                        <div class="hour">2h</div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="active_user user">
                                            <img src="/images/signin_signup_dashboard/user.ac.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>
                                            <span></span> Sheila Carter </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing... elit, sed do
                                            eiusmod
                                            tempor incididunt
                                        </p>
                                    </li>
                                    <li>
                                        <div class="hour">2h</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="links_all two_links">
                                <a href="#">Read all</a>
                                <a href="#" class="review">Dismiss All</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="four_col">
                        <div class="col_header">
                            <h3>Activity feed</h3>
                        </div>
                        <div class="col_body">
                            <div class="activity_feed">
                                <ul class="green">
                                    <li>
                                        <div class="upload_feed">
                                            <img src="/images/signin_signup_dashboard/UP.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>Activity feed</h3>
                                        <h4>New file was uploaded <a href="#">agreement.pdf</a></h4>
                                        <h5><span>5</span> minutes ago</h5>
                                    </li>
                                </ul>
                                <ul class="blue">
                                    <li>
                                        <div class="upload_feed">
                                            <img src="/images/signin_signup_dashboard/doc.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>NEW DOCUMENT</h3>
                                        <h4>New document <a href="#">Document.pdf </a>created</h4>
                                        <h5><span>5</span> minutes ago</h5>
                                    </li>
                                </ul>
                                <ul class="red">
                                    <li>
                                        <div class="upload_feed">
                                            <img src="/images/signin_signup_dashboard/important.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <h3>IMPORTANT MESSAGE</h3>
                                        <h4>New file was uploaded <a href="#">agreement.pdf </a></h4>
                                        <h5><span>5</span> minutes ago</h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="links_all">
                                <a href="#">Load more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
