<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from reneza.com/blog by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 06:05:34 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <title>Reneza</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport' />
    
    <!-- favs -->
        <!-- end-avs -->
    <link rel="icon" type="image/png" href="faviconc619.ico?v=1.0" sizes="32x32">


    <link rel="stylesheet" type="text/css" href="blog/wp-content/themes/vatablog/assets/css/bloga788.css?v=1.0.1.1" /> 
    <link rel="stylesheet" type="text/css" href="blog/wp-content/themes/vatablog/assets/css/customf2ad.css?v=1.0.7" /> 


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    
    
<!-- Google Tag Manager for WordPress by DuracellTomi -->
<script data-cfasync="false" type="text/javascript">//<![CDATA[
	var gtm4wp_datalayer_name = "dataLayer";
	var dataLayer = dataLayer || [];//]]>	
</script>
<!-- End Google Tag Manager for WordPress by DuracellTomi -->
<!-- This site is optimized with the Yoast SEO plugin v5.8 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Reneza"/>
<link rel="canonical" href="blog/index.html" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Reneza" />
<meta property="og:description" content="Reneza" />
<meta property="og:url" content="https://reneza.com/blog/" />
<meta property="og:site_name" content="Reneza" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Reneza" />
<meta name="twitter:title" content="Reneza" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/reneza.com\/blog\/","name":"Reneza","alternateName":"Reneza","potentialAction":{"@type":"SearchAction","target":"https:\/\/reneza.com\/blog\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/reneza.com\/blog\/","sameAs":[],"@id":"#organization","name":"Reneza","logo":""}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel="stylesheet" href="blog/plugins/wordpress-popular-posts/public/css/wpp0235.css?ver=4.1.1">
<script type='text/javascript'>
/* <![CDATA[ */
var wpp_params = {"rest_api":"1","sampling_active":"0","sampling_rate":"100","ajax_url":"https:\/\/reneza.com\/blog\/wp-json\/wordpress-popular-posts\/v1\/popular-posts\/","action":"update_views_ajax","ID":"","token":"50bcc3decc","debug":""};
/* ]]> */
</script>
<script type='text/javascript' src='blog/plugins/wordpress-popular-posts/public/js/wpp-4.1.0.min0235.js?ver=4.1.1'></script>
<link rel='https://api.w.org/' href='blog/wp-json/index.html' />
<link rel="alternate" type="application/json+oembed" href="blog/wp-json/oembed/1.0/embed526c.json?url=https%3A%2F%2Freneza.com%2Fblog%2F" />
<link rel="alternate" type="text/xml+oembed" href="blog/wp-json/oembed/1.0/embed04c4?url=https%3A%2F%2Freneza.com%2Fblog%2F&amp;format=xml" />
<link rel="alternate" href="blog/index.html" hreflang="en" />
<link rel="alternate" href="blog/ru/index.html" hreflang="ru" />

<!-- Google Tag Manager for WordPress by DuracellTomi -->
<script data-cfasync="false" type="text/javascript">//<![CDATA[
	dataLayer.push({"pagePostType":"frontpage","pagePostType2":"single-page"});//]]>
</script>
<script data-cfasync="false">//<![CDATA[
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.'+'js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MCTKZTL');//]]>
</script>
<!-- End Google Tag Manager -->
<!-- End Google Tag Manager for WordPress by DuracellTomi -->	

	
</head>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCTKZTL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<body class="home page parent-home ">
<!-- Google Tag Manager (noscript) --><br style="display:none;">


    <div class="app-header app-header-default" id="headroom">
    <header class="clearfix">
    
        <a href="index.html" class="logo">
            <img src="blog/wp-content/themes/vatablog/assets/images/logo3860.svg?v=1" alt="Reneza">
        </a>
    
        
        <div id="menu-toggle" class="menu-holder clearfix">
        
        <div class="pull-right">
    
            <nav class="menu d-in v-m">
                <ul class="ul-navigation">
                                                            <li class="has-socials">
                        <ul class="list-inline">
                            <li><a target="_blank" href="https://www.facebook.com/Reneza-200266390804365/"><i class="icon icon-social-fb"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/reneza/"><i class="icon icon-social-linkedin"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/renezaapp/"><i class="icon icon-social-insta"></i></a></li>
                            <!-- <li><a href="https://www.twitter.com/"><i class="icon icon-social-gplus"></i></a></li> -->
                        </ul>
                    </li>
                                        <li class="has-btn">
                        <a href="index.html" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-newsletter">
                          beta coming soon
                        </a>
                    </li>
                    

                </ul>
            </nav>
        </div>
    
                
        </div>
        <!-- /#menu-toggle -->
    
    
    </header>
    
    
    <button id="hamburger" class="hamburger hamburger--3dx-r js-toggler" type="button"
            aria-label="Menu" aria-controls="navigation" data-class="overlay-active">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    
    
</div>
    
    <div class="app-container">

    
<div class="app-header-spacer"></div>


<div class="container text-center">
	<div class="page-header">
		<h1>Latest news from Reneza</h1>
	</div>
</div>



<section class="news with-deco">
	<div class="container">
		<div class="row news-list news-list-blog">

			<div class="col-xs-12 col-md-8">
				<h6 class="box-title">
					Articles
				</h6>
																		<article class="news-item">
							<a href="blog/landlord-dilemma-online-letting-agency-vs-traditional-letting-agent/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">The Landlord Dilemma: Online Letting Agency vs Traditional Letting Agent</h4>
									<span class="excerpt"><p>Traditional industries, such as real estate and letting, are slowly&#8230;</p>
</span>	
									<p class="list-date">2018-12-14 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/traditional-vs-online.jpg');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/landlord-responsibilities/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">Landlord responsibilities</h4>
									<span class="excerpt"><p>The Responsibilities of the Landlord Most potential and established landlords&#8230;</p>
</span>	
									<p class="list-date">2018-12-01 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/what-every-first-time-landlord-should-know.png');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/smoke-alarm-regulations-landlords/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">Smoke Alarm Regulations for Landlords</h4>
									<span class="excerpt"><p>The responsibilities on landlords regarding smoke alarms were made clear&#8230;</p>
</span>	
									<p class="list-date">2018-11-14 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/Smoke-alarm.jpg');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/10-reasons-inventory/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">10 Reasons Why You Should Have an Inventory</h4>
									<span class="excerpt"><p>A professional inventory costs money. But before you consider this&#8230;</p>
</span>	
									<p class="list-date">2018-10-29 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/inventory.jpg');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/letting-property-quickly-heres/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">Letting Your Property Quickly? Here’s How to Do It</h4>
									<span class="excerpt"><p>A time will come when your property needs a new&#8230;</p>
</span>	
									<p class="list-date">2018-10-15 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/ArtDevelopmentsLondonCityIsland3.jpg');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/become-responsible-landlord/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">Become a Responsible Landlord</h4>
									<span class="excerpt"><p>Most potential and established landlords will be well aware that&#8230;</p>
</span>	
									<p class="list-date">2018-09-27 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/letting-your-property-quiclky.jpg');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/pros-cons-using-letting-agency/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">Pros and cons of using a letting agency</h4>
									<span class="excerpt"><p>Being a landlord is never easy. There’s more to being a landlord than moving in your tenants and watching rent roll in. Are you considering of using a letting agency? We will look at pros and cons against that.</p>
</span>	
									<p class="list-date">2018-09-06 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/pros-and-cons-of-using-a-letting-agency.png');"></div>
								
								</a>
						</article>
					      						<article class="news-item">
							<a href="blog/every-first-time-landlord-know/index.html" data-mh="news-list">

								<div class="content">
									
									<h4 class="list-title">What Every First Time Landlord Should Know</h4>
									<span class="excerpt"><p>Every landlord needs to start somewhere and no first time project is expected to run smoothly and without some kind of glitch. But what methods can we use to minimise the risks, errors and oversights of being a first-time landlord?</p>
</span>	
									<p class="list-date">2018-08-30 <span class="more">Read more</span></p>
								 
								</div>
																	<div class="image" style="background-image: url('blog/assets/RLA-Logo2018-400x310.jpg');"></div>
								
								</a>
						</article>
					      							</div>
			<div class="col-xs-12 col-md-4">
				<div class="sidebar-box">
					<h6 class="box-title">
						popular on reneza
					</h6>
					<p class="wpp-no-data">Sorry. No data so far.</p>				</div>
			</div>

		</div>
	</div>


</section>

    </div>
    
    <div class="app-footer">
	<footer>
		<div class="footer-top">
		  <div class="container text-center" data-aos="fade-in" data-aos-once="true"  data-aos-duration="1000">
		  	<div class="row">
		  			<h3>Join Reneza Insider Community</h3>
	          <div class="newsletter-form">
								<form action="#" method="post" class="ac-form">
									<div class="input-wrap">
										<input name="ac-email" type="email" class="form-control" placeholder="Your e-mail">
									</div>
									<button class="btn btn-sm btn-default">join community</button>
								</form>
								<p class="form-success" style="display:none;">Thank you for subscribing!</p>
	              <p class="form-error" style="display:none;">Ooops, something went wrong!</p>
								<p class="gpdr-notice text-center">I agree that my email will be compiled and processed by “Reneza” for marketing purposes. I can change this statment any time later. For more information please read our <a href="privacy-policy.html">Privacy policy.</a> Also I confirm, that I am over 18 years old.</p>
	             
							
								
	          </div>
	
	
	
		  	</div>
		  	<!-- /.row -->
		  </div>
		  <!-- /.container -->
		</div>
		<!-- /.footer-top grad-1 -->
		<div class="footer-bottom">
			<div class="box">
				<div class="row">
						<div class="col-xs-12 text-center">
							<div class="copy">
								<span>© 2018 Reneza.</span>							</div>
							<!-- /.copy -->
						</div>
						<!-- /.col-md-4 -->
											</div>
					<!-- /.row -->
			</div><!-- /.box -->
		</div>
		<!-- /.footer-bottom -->
	</footer>
</div>


 
    <script type='text/javascript' src='blog/assets/js/app19f6.js?ver=1.0.7'></script>
<script type='text/javascript' src='blog/assets/js/script19f6.js?ver=1.0.7'></script>
<script type='text/javascript' src='blog/wp-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var countVars = {"disqusShortname":"reneza"};
/* ]]> */
</script>
<script type='text/javascript' src='blog/plugins/disqus-comment-system/media/js/count5010.js?ver=4.9.8'></script>


    </body>

<!-- Mirrored from reneza.com/blog by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 06:05:44 GMT -->
</html> 
