<!-- partial:partial/_header_tenant.html -->
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from reneza.com/tenant.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 06:05:26 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Reneza - Online letting agency of tomorrow</title>

    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />

    <meta name="description" content="Reneza - Online letting agency of tomorrow">
    <meta itemprop="name" content="Reneza">
    <meta itemprop="description" content="Simplified renting in only 5 steps from tenant search to full property management. Start saving time and money now!">
    <meta itemprop="image" content="../dau.lt/tests/reneza/og-image.html">
    <meta property="og:image" content="../dau.lt/tests/reneza/og-image.html">
    <meta name="twitter:title" content="Reneza - Online letting agency of tomorrow">
    <meta name="twitter:description" content="Simplified renting in only 5 steps from tenant search to full property management. Start saving time and money now!">
    <meta name="twitter:image:src" content="../dau.lt/tests/reneza/og-image.html">

    <link href="../file.myfontastic.com/GQVv8SiatLsPw8XGXPZJXd/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    <link rel="stylesheet" href="css/app.min.css" />

    <!-- help scout
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', 'ed8d25c3-056c-49d0-9e22-face0e91d398')</script> -->
    <!-- intercom -->
    <script>
        window.intercomSettings = {
          app_id: "tjpyt58c"
        };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/tjpyt58c';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!-- Hotjar Tracking Code for https://reneza.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:991316,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MCTKZTL');</script>
    <!-- End Google Tag Manager -->
</head>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCTKZTL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<body>
    <div class="container homepage">

        <div class="nav-top">
            <div class="row">
                <ul class="nav-top-right">
                    <li>
                        <ul class="social-links-list">
                            <li><span>Follow us</span></li>
                            <li class="social-link"><a target="_blank" rel="noopener" href="https://www.facebook.com/Reneza-200266390804365/"></a></li>
                            <li class="social-link"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/reneza/"></a></li>
                            <li class="social-link"><a target="_blank" rel="noopener" href="https://www.instagram.com/renezaapp/"></a></li>
                            <li class="social-link"><a target="_blank" rel="noopener" href="https://www.twitter.com/renezaapp"></a></li>
                        </ul>
                    </li>
                    <li><a href="mailto:hello@reneza.com"><i class="icon-mail"></i>hello@reneza.com</a></li>
                    <li><a href="tel:+44 289 344 7222"><i class="icon-telephone"></i>+44 289 344 7222</a></li>
                </ul>
            </div>
        </div>

        <nav>
            <div class="row">

                <a class="logo" href="index.html">

                    <div class="logo-top"></div>
                    <div class="logo-bottom">
                        <div class="inner-wrapper"></div>
                    </div>
                </a>

                <ul class="menu-left">
                    <li><a href="index.html">Landlord</a></li>
                    <li><a class="highlight" href="tenant.html">Tenant</a></li>
                </ul>

                <div class="nav-right">
                    <div class="menu-items-wrapper">
                        <ul class="menu">
                            <li><a class="highlight mobile-show" href="index.html">Landlord</a></li>
                            <li><a class="mobile-show" href="tenant.html">Tenant</a></li>
                            <li><a class="open-tour" href="#">Tour</a></li>
                            <li class="has-dropdown">
                                <span class="dropdown-opener">Learn</span>
                                <ul class="dropdown-content">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="landlord-term.html">landlord terms</a></li>
                                    <li><a href="tenant-term.html">tenant terms</a></li>
                                    <li><a href="privacy.html">Privacy policy</a></li>
                                    <li><a href="referral-program.html">Referral Campaign Terms</a></li>
                                    <li><a href="get-in-touch.html">Get in Touch</a></li>
                                </ul>
                            </li>
                            <!-- <li><a class="highlight" href="https://app.reneza.com/login">Log in</a></li> -->
                        </ul>
                        <div class="menu-trigger">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                        </div>
                    </div>
                    <a class="button small blue" href="#explanation-section"><span>get started</span></a>

                </div>

            </div>
        </nav>

        <!-- partial:_tour.html -->
        <div class="tour">
    <input type="hidden" name="current_slider">
    <div class="tour-popup">
        <div class="tour-content">
            <div class="tour-popup--main active">
                <div class="tour-header">
                    <nav>
                        <div class="row">
                            <a class="logo" href="index.html">
                                <div class="logo-top"></div>
                                <div class="logo-bottom">
                                    <div class="inner-wrapper"></div>
                                </div>
                            </a>

                            <div class="nav-right">
                                <ul class="menu-mobile-training training-menu">
                                    <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                    <li><a href="#" data-steps="payments">Payments</a></li>
                                    <li><a href="#" data-steps="maintanance">Management</a></li>
                                    <li>
                                        <div class="menu-trigger2 active">
                                            <span class="line line-1"></span>
                                            <span class="line line-2"></span>
                                            <span class="line line-3"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="menu-items-wrapper">
                                    <ul class="menu training-menu">
                                        <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                        <li><a href="#" data-steps="payments">Payments</a></li>
                                        <li><a href="#" data-steps="maintanance">Management</a></li>
                                        <li>
                                            <div class="menu-trigger2 active">
                                                <span class="line line-1"></span>
                                                <span class="line line-2"></span>
                                                <span class="line line-3"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <section class="steps">
                    <div class="row">
                        <div class="small-12 medium-6 large-6 column">
                            <div class="text-content">
                                <h3>Discover<br>Reneza</h3>
                                <p>Simplified property management - making life a breeze for landlords
                                </p>
                            </div>
                        </div>
                        <div class="small-12 medium-6 large-6 column">
                            <ul class="main-steps training-menu">
                                <li>
                                    <a href="#" data-steps="onboarding">Onboarding</a>
                                    <img src="img/steps-image-1.png" alt="">
                                </li>
                                <li>
                                    <a href="#" data-steps="payments">Payments</a>
                                    <img src="img/step-img-s.png" alt="">
                                </li>
                                <li>
                                    <a href="#" data-steps="maintanance">Management</a>
                                    <img src="img/steps-image-3.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <!-- ONBOARDING -->
            <div class="tour-popup--all tour-popup--onboarding">
                <div class="tour-header">
                    <nav>
                        <div class="row">
                            <a class="logo" href="index.html">
                                <div class="logo-top"></div>
                                <div class="logo-bottom">
                                    <div class="inner-wrapper"></div>
                                </div>
                            </a>

                            <div class="nav-right">
                                <ul class="menu-mobile-training training-menu">
                                    <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                    <li><a href="#" data-steps="payments">Payments</a></li>
                                    <li><a href="#" data-steps="maintanance">Management</a></li>
                                    <li>
                                        <div class="menu-trigger2 active">
                                            <span class="line line-1"></span>
                                            <span class="line line-2"></span>
                                            <span class="line line-3"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="menu-items-wrapper">
                                    <ul class="menu training-menu">
                                        <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                        <li><a href="#" data-steps="payments">Payments</a></li>
                                        <li><a href="#" data-steps="maintanance">Management</a></li>
                                        <li>
                                            <div class="menu-trigger2 active">
                                                <span class="line line-1"></span>
                                                <span class="line line-2"></span>
                                                <span class="line line-3"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <section class="steps">
                    <div class="row">
                        <div class="arrow-left" data-minarrow="0" data-maxarrow="7"><img src="img/arr-back.png" alt=""></div>
                        <div class="arrow-right" data-minarrow="0" data-maxarrow="7"><img src="img/arr-next.png" alt=""></div>
                        <div class="small-12 medium-6 large-5 column steps-wrapper e-in active">
                            <div class="main-faq-wrapper">
                                <div class="faq-question delay-2 swap-image open" data-image="0">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: block;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Get The<br>Full Scoop </h2>
                                            <p>We’ll fill you in with everything you need to know.
                                                With Reneza, you can keep an eye on how popular your picks are,
                                                helping you increase your chances of landing your preferred property.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-3 swap-image" data-image="1">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Keep Track Of<br>Where You’re At</h2>
                                            <p>We’ll remind you of where you’ve applied and where your next viewing is.
                                                And if something comes up and you need to cancel – it’s as easy as the
                                                click of a button.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-4 swap-image" data-image="2">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Don’t Let It<br>Slip Away</h2>
                                            <p>Lock in your future home. Place a holding deposit securely online and relax
                                                – you’ve got this.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-5 swap-image" data-image="3">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Sort Out<br>Document<br>Without The Fuss </h2>
                                            <p>We make it easy to track what you need. And with almost-instant
                                                background checks and super simple verification, you can unlock
                                                your new home ASAP!</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-6 swap-image" data-image="4">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Pay Your Way </h2>
                                            <p>Paying rent just got easier. Make secure transactions
                                                with our platform – we’ll notify everyone instantly, and you can
                                                easily keep track of past and future payments.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-7 swap-image" data-image="5">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">No Ink<br>Required</h2>
                                            <p>Signed, sealed, delivered – and all it takes is a digital signature.
                                                Quick, secure and hassle free.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-7 swap-image" data-image="6">
                                        <div class="top">
                                            <div class="deco-wrapper">
                                                <div class="inner-wrapper"></div>
                                            </div>
                                            &nbsp;
                                        </div>
                                        <div class="bottom" style="display: none;">
                                            <div class="inner-wrapper">
                                                <h2 class="delay-1">It’s Move-In<br>Time!</h2>
                                                <p>Send an instant notification to your landlord letting them know when
                                                    you’re free to grab the keys. Our platform keeps it simple, so you
                                                    can get busy packing!</p>
                                            </div>
                                        </div>
                                    </div>

                                <div class="faq-question delay-8 swap-image" data-image="7">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">The modern<br>way to rent </h2>
                                            <p>Simple, straight-forward renting that keeps you in the loop. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="mobile-steps-nav">
                                <li data-question="0" class="active dq0">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="1" class="dq1">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="2" class="dq2">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="3" class="dq3">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="4" class="dq4">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="5" class="dq5">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="6" class="dq6">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="7" class="dq7">
                                    <div class="inner-wrapper"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-6 large-7 column">
                            <div class="image-wrapper e-in active">
                                <div class="image imgnr0 active">
                                    <img class="lazy" alt="" src="img/onboard_tenant_1.png" style="">
                                </div>
                                <div class="image imgnr1">
                                    <img class="lazy" alt="" src="img/onboard_tenant_2.png" style="">
                                </div>
                                <div class="image imgnr2">
                                    <img class="lazy" alt="" src="img/onboard_tenant_3.png" style="">
                                </div>
                                <div class="image imgnr3">
                                    <img class="lazy" alt="" src="img/onboard_tenant_4.png" style="">
                                </div>
                                <div class="image imgnr4">
                                    <img class="lazy" alt="" src="img/onboard_tenant_5.png" style="">
                                </div>
                                <div class="image imgnr5">
                                    <img class="lazy" alt="" src="img/onboard_tenant_6.png" style="">
                                </div>
                                <div class="image imgnr6">
                                    <img class="lazy" alt="" src="img/onboard_tenant_7.png" style="">
                                </div>
                                <div class="image imgnr7">
                                    <div class="price-page ten-popup">
                                        <div class="pricing-section">
                                            <div class="row">
                                                <div class="small-12 medium-12 large-12 column pricing-left">
                                                    <div class="inner-wrapper">
                                                        <div class="pricing-left-row delay-2 clearfix">
                                                            <p>Want to increase your credit score?<br>
                                                                    Track your payments?<br>
                                                                    Know what you’re spending?<br>
                                                                    Easily report issues?<br>
                                                                    And generally just stay in-the-know?<br>
                                                                    </p>
                                                        </div>
                                                        <div class="pricing-left-row delay-3 clearfix">
                                                            <span class="city">Spread the word about Reneza by inviting landlords!</span>
                                                            <div class="button-wrapper delay-2">
                                                                <form class="home-signup down landlord">
                                                                    <div class="input-wrapper">
                                                                        <input class="email" required="" placeholder="Landlords Email Addess " type="email">
                                                                        <span class="error-text">Email is incorrect</span>
                                                                        <div class="button-wrapper">
                                                                            <button type="submit" class="button popup-after-form" href="#"><span>invite</span></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="footer-tenant-pop">
                                                            <p class="delay-4 pricing-text">Share on</p>
                                                            <ul class="social-links-list">
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.facebook.com/Reneza-200266390804365/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/reneza/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.instagram.com/renezaapp/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.twitter.com/renezaapp"></a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- MAINTANACE -->
            <div class="tour-popup--all tour-popup--maintanance">
                <div class="tour-header">
                    <nav>
                        <div class="row">
                            <a class="logo" href="index.html">
                                <div class="logo-top"></div>
                                <div class="logo-bottom">
                                    <div class="inner-wrapper"></div>
                                </div>
                            </a>

                            <div class="nav-right">
                                <ul class="menu-mobile-training training-menu">
                                    <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                    <li><a href="#" data-steps="payments">Payments</a></li>
                                    <li><a href="#" data-steps="maintanance">Management</a></li>
                                    <li>
                                        <div class="menu-trigger2 active">
                                            <span class="line line-1"></span>
                                            <span class="line line-2"></span>
                                            <span class="line line-3"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="menu-items-wrapper">
                                    <ul class="menu training-menu">
                                        <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                        <li><a href="#" data-steps="payments">Payments</a></li>
                                        <li><a href="#" data-steps="maintanance">Management</a></li>
                                        <li>
                                            <div class="menu-trigger2 active">
                                                <span class="line line-1"></span>
                                                <span class="line line-2"></span>
                                                <span class="line line-3"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <section class="steps">
                    <div class="row">
                        <div class="arrow-left" data-minarrow="8" data-maxarrow="13"><img src="img/arr-back.png" alt=""></div>
                        <div class="arrow-right" data-minarrow="8" data-maxarrow="13"><img src="img/arr-next.png" alt=""></div>
                        <div class="small-12 medium-7 large-5 column steps-wrapper e-in active">
                            <div class="main-faq-wrapper">
                                <div class="faq-question delay-2 swap-image open" data-image="8">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: block;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Activity<br>Tracking</h2>
                                            <p>With our real-time tracking you can stay on top of events,
                                                inspections and upcoming payments – all in one place.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-3 swap-image" data-image="9">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Repairs Made<br>Effortless</h2>
                                            <p>Contractors are notified instantly whenever you report an issue,
                                                so you can relax knowing that a resolution is right around the corner.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-4 swap-image" data-image="10">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Stay Up<br>To Date</h2>
                                            <p>Email is so yesterday. The Reneza app sends instant notifications of
                                                any and every activity.
                                                </p>
                                            <a class="button white" href="#"><span>coming soon</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-5 swap-image" data-image="11">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Assign Tasks </h2>
                                            <p>It’s a team effort. With the Reneza app, you can keep everyone
                                                on the same page with a household to-do list.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-6 swap-image" data-image="12">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Tenant<br>Passport</h2>
                                            <p>Renting is even easier once you’re part of the family.
                                                Your verified Reneza profile guarantees you easy, instant applications
                                                in the future. </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-7 swap-image" data-image="13">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">The modern way to rent</h2>
                                            <p>Simple, straight-forward renting that keeps you in the loop.
                                                </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <ul class="mobile-steps-nav">
                                <li data-question="8" class="active dq8">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="9" class="dq9">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="10" class="dq10">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="11" class="dq11">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="12" class="dq12">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="13" class="dq13">
                                    <div class="inner-wrapper"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-5 large-7 column">
                            <div class="image-wrapper e-in active">
                                <div class="image imgnr8 active">
                                    <img class="lazy" alt="" src="img/main_tenant_1.png" style="">
                                </div>
                                <div class="image imgnr9">
                                    <img class="lazy" alt="" src="img/main_tenant_2.png" style="">
                                </div>
                                <div class="image imgnr10">
                                    <img class="lazy" alt="" src="img/main_tenant_3.png" style="">
                                </div>
                                <div class="image imgnr11">
                                    <img class="lazy" alt="" src="img/main_tenant_4.png" style="">
                                </div>
                                <div class="image imgnr12">
                                    <img class="lazy" alt="" src="img/main_tenant_5.png" style="">
                                </div>
                                <div class="image imgnr13">
                                    <div class="price-page ten-popup">
                                        <div class="pricing-section">
                                            <div class="row">
                                                <div class="small-12 medium-12 large-12 column pricing-left">
                                                    <div class="inner-wrapper">
                                                        <div class="pricing-left-row delay-2 clearfix">
                                                            <p>Want to increase your credit score?<br>
                                                                    Track your payments?<br>
                                                                    Know what you’re spending?<br>
                                                                    Easily report issues?<br>
                                                                    And generally just stay in-the-know?<br>
                                                                    </p>
                                                        </div>
                                                        <div class="pricing-left-row delay-3 clearfix">
                                                            <span class="city">Spread the word about Reneza by inviting landlords!</span>
                                                            <div class="button-wrapper delay-2">
                                                                <form class="home-signup down landlord">
                                                                    <div class="input-wrapper">
                                                                        <input class="email" required="" placeholder="Landlords Email Addess " type="email">
                                                                        <span class="error-text">Email is incorrect</span>
                                                                        <div class="button-wrapper">
                                                                            <button type="submit" class="button popup-after-form" href="#"><span>invite</span></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="footer-tenant-pop">
                                                            <p class="delay-4 pricing-text">Share on</p>
                                                            <ul class="social-links-list">
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.facebook.com/Reneza-200266390804365/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/reneza/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.instagram.com/renezaapp/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.twitter.com/renezaapp"></a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- PAYMENTS -->
            <div class="tour-popup--all tour-popup--payments">
                <div class="tour-header">
                    <nav>
                        <div class="row">
                            <a class="logo" href="index.html">
                                <div class="logo-top"></div>
                                <div class="logo-bottom">
                                    <div class="inner-wrapper"></div>
                                </div>
                            </a>

                            <div class="nav-right">
                                <ul class="menu-mobile-training training-menu">
                                    <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                    <li><a href="#" data-steps="payments">Payments</a></li>
                                    <li><a href="#" data-steps="maintanance">Management</a></li>
                                    <li>
                                        <div class="menu-trigger2 active">
                                            <span class="line line-1"></span>
                                            <span class="line line-2"></span>
                                            <span class="line line-3"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="menu-items-wrapper">
                                    <ul class="menu training-menu">
                                        <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                                        <li><a href="#" data-steps="payments">Payments</a></li>
                                        <li><a href="#" data-steps="maintanance">Management</a></li>
                                        <li>
                                            <div class="menu-trigger2 active">
                                                <span class="line line-1"></span>
                                                <span class="line line-2"></span>
                                                <span class="line line-3"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <section class="steps">
                    <div class="row">
                        <div class="arrow-left" data-minarrow="14" data-maxarrow="18"><img src="img/arr-back.png" alt=""></div>
                        <div class="arrow-right" data-minarrow="14" data-maxarrow="18"><img src="img/arr-next.png" alt=""></div>
                        <div class="small-12 medium-7 large-5 column steps-wrapper e-in active">
                            <div class="main-faq-wrapper">
                                <div class="faq-question delay-2 swap-image open" data-image="14">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: block;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Payment<br>information</h2>
                                            <p>Transparency is key. See what you have to pay and track it all yourself.
                                                And just to put a cherry on top of it – paying through Reneza will
                                                improve your credit score.
                                                </p>
                                            <div class="logo-wrapper">
                                                <img src="img/logo-experian.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-3 swap-image" data-image="15">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Automated<br>Payments</h2>
                                            <p>Never miss a payment again! Our technology tracks all payments in real time and
                                                can schedule automatic transfers via direct debit or credit, giving you so one
                                                less thing to worry about.</p>
                                            <div class="logo-wrapper">
                                                <img src="img/logo-gocardless.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-4 swap-image" data-image="16">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Integrated<br>utility bills</h2>
                                            <p>Piles of bills are a thing of the past! Our clever dashboard lets you
                                                track and pay all those annoying bills – all in the one place.
                                                </p>
                                            <a class="button white" href="#"><span>coming soon</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-5 swap-image" data-image="17">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">Additional<br>services </h2>
                                            <p>We’ll take the burden of organising cleaning & move-in/out off your shoulders. With Reneza, you can easily order extra services and track them too.
                                                </p>
                                                <a class="button white" href="#"><span>coming soon</span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-question delay-7 swap-image" data-image="18">
                                    <div class="top">
                                        <div class="deco-wrapper">
                                            <div class="inner-wrapper"></div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="bottom" style="display: none;">
                                        <div class="inner-wrapper">
                                            <h2 class="delay-1">The modern<br>way to rent</h2>
                                            <p>Simple, straight-forward renting that keeps you in the loop. </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <ul class="mobile-steps-nav">
                                <li data-question="14" class="active dq14">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="15" class="dq15">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="16" class="dq16">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="17" class="dq17">
                                    <div class="inner-wrapper"></div>
                                </li>
                                <li data-question="18" class="dq18">
                                    <div class="inner-wrapper"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-5 large-7 column">
                            <div class="image-wrapper e-in active">
                                <div class="image imgnr14 active">
                                    <img class="lazy" alt="" src="img/tenant_payments1.png" style="">
                                </div>
                                <div class="image imgnr15">
                                    <img class="lazy" alt="" src="img/tenant_payments2.png" style="">
                                </div>
                                <div class="image imgnr16">
                                    <img class="lazy" alt="" src="img/tenant_payments3.png" style="">
                                </div>
                                <div class="image imgnr17">
                                    <img class="lazy" alt="" src="img/tenant_payments4.png" style="">
                                </div>
                                <div class="image imgnr18">
                                    <div class="price-page ten-popup">
                                        <div class="pricing-section">
                                            <div class="row">
                                                <div class="small-12 medium-12 large-12 column pricing-left">
                                                    <div class="inner-wrapper">
                                                        <div class="pricing-left-row delay-2 clearfix">
                                                            <p>Want to increase your credit score?<br>
                                                                    Track your payments?<br>
                                                                    Know what you’re spending?<br>
                                                                    Easily report issues?<br>
                                                                    And generally just stay in-the-know?<br>
                                                                    </p>
                                                        </div>
                                                        <div class="pricing-left-row delay-3 clearfix">
                                                            <span class="city">Spread the word about Reneza by inviting landlords!</span>
                                                            <div class="button-wrapper delay-2">
                                                                <form class="home-signup down landlord">
                                                                    <div class="input-wrapper">
                                                                        <input class="email" required="" placeholder="Landlords Email Addess " type="email">
                                                                        <span class="error-text">Email is incorrect</span>
                                                                        <div class="button-wrapper">
                                                                            <button type="submit" class="button popup-after-form" href="#"><span>invite</span></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="footer-tenant-pop">
                                                            <p class="delay-4 pricing-text">Share on</p>
                                                            <ul class="social-links-list">
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.facebook.com/Reneza-200266390804365/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/reneza/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.instagram.com/renezaapp/"></a></li>
                                                                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.twitter.com/renezaapp"></a></li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
        <!-- partial -->

<!-- partial -->

<div class="tenant">


    <div class="hero e-in">
        <div class="hero-inner-wrapper">
            <div class="row">
                <div class="hero-animation"></div>
                <div class="small-12 medium-7 medium-offset-5 large-6 large-offset-6 column">
                    <h1 class="delay-1">Letting agent worth your trust.</h1>
                    <p class="delay-2">Finally - a platform made for you!<br>
                        We won’t keep you in the dark. Instead, you’ll get less to-and-fro, less paperwork and less
                        headaches caused by maintenance issues – all with total transparency and everything you need to
                        know right at your fingertips.</p>
                    <div class="button-wrapper delay-3">
                        <form class="home-signup tenant">
                            <div class="input-wrapper">
                                <input class="email" required="" placeholder="Your Email Addess" type="email">
                                <span class="error-text">Email is incorrect</span>
                                <div class="button-wrapper">
                                    <button type="submit" class="button popup-after-form"><span>sign up now</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="social-fallow-warpper delay-4 fall-img">
                        <p>PROPERTIES FEATURED ON </p>
                        <ul class="social-links-list img-on-main">
                            <!-- <li class="social-link"><img src="img/arla.png" alt=""></li> -->
                            <li class="social-link"><img src="img/the_times_good.png" alt=""></li>
                            <li class="social-link"><img src="img/the_sunday_times_good.png" alt=""></li>
                            <li class="social-link"><img src="img/telegram_good.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="social-fallow-warpper delay-4 fall-img">
                        <p style="margin-top: 40px !important;">TRUSTED MEMBER OF</p>
                        <ul class="social-links-list img-on-main">
                            <!-- <li class="social-link"><img src="img/arla.png" alt=""></li> -->
                            <li class="social-link"><img src="img/arla.jpg" alt=""></li>
                            <li class="social-link"><img src="img/prs.jpg" alt=""></li>
                            <li class="social-link"><img src="img/tds.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="waves-container">

            <div class="lines-container">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="circles-container">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>

            <div class="svg-container">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2880" height="1972"
                    viewBox="0 0 1440 986">
                    <defs>
                        <style>
                            .cls-1 {
                                opacity: 0.7;
                            }

                            .cls-2 {
                                fill: #fff;
                                stroke: #f2f3f7;
                                stroke-width: 1px;
                            }

                            .cls-2,
                            .cls-3 {
                                fill-rule: evenodd;
                            }

                            .cls-3 {
                                fill: url(#linear-gradient);
                            }

                            .cls-4 {
                                fill: #e8eaf0;
                            }
                        </style>
                        <linearGradient id="linear-gradient" x1="7133.5" y1="1341" x2="7133.5" y2="809.656"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fff" />
                            <stop offset="1" stop-color="#f2f3f7" />
                        </linearGradient>
                    </defs>
                    <g class="cls-1">
                        <!--path class="cls-2" d="M6513,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy" data-name="Shape 9 copy" class="cls-2" d="M6822.55,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_8" data-name="Shape 9 copy 8" class="cls-2" d="M6667.55,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_2" data-name="Shape 9 copy 2" class="cls-2" d="M6978.1,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_3" data-name="Shape 9 copy 3" class="cls-2" d="M7133.35,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_4" data-name="Shape 9 copy 4" class="cls-2" d="M7287.9,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_5" data-name="Shape 9 copy 5" class="cls-2" d="M7598.45,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_7" data-name="Shape 9 copy 7" class="cls-2" d="M7443.45,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_6" data-name="Shape 9 copy 6" class="cls-2" d="M7753,356v985" transform="translate(-6413 -355.5)"/-->
                        <path id="Rectangle_7_copy" data-name="Rectangle 7 copy" class="cls-3" d="M6412,1006.69s102.01,11.81,242.16-47.221S6870.12,837.72,7056.89,837.72s313.38,166.19,510.53,62.1S7855,810.336,7855,810.336V1341H6412V1006.69Z"
                            transform="translate(-6413 -355.5)" />
                        <!--circle id="Ellipse_5_copy_9" data-name="Ellipse 5 copy 9" class="cls-4" cx="1339.5" cy="470" r="6.5"/>
    <circle id="Ellipse_5_copy_10" data-name="Ellipse 5 copy 10" class="cls-4" cx="1184.5" cy="529" r="6.5"/>
    <circle id="Ellipse_5_copy_11" data-name="Ellipse 5 copy 11" class="cls-4" cx="1029.5" cy="579" r="6.5"/>
    <circle id="Ellipse_5_copy_12" data-name="Ellipse 5 copy 12" class="cls-4" cx="719.5" cy="491" r="6.5"/>
    <circle id="Ellipse_5_copy_13" data-name="Ellipse 5 copy 13" class="cls-4" cx="564.5" cy="487" r="6.5"/-->
                    </g>
                </svg>

            </div>


        </div>

    </div>


    <div id="explanation-section" class="scroll-anchor-explanation"></div>

    <div class="explanation-section">
        <div class="row pricing-section content-top e-in">
            <div class="small-12 medium-7 large-6 column pricing-right">
                <div class="text">
                    <h3 class="delay-1">Find your future<br> home now</h3>
                    <p class="delay-2">Explore properties in our partners listings to find your future home now! Get
                        started in two easy steps:</p>
                    <ul class="clearfix">
                        <li class="delay-10">Request more info about the property you’re interested in on Zoopla or
                            Rightmove</li>
                        <li class="delay-12">We’ll be in touch!</li>

                    </ul>
                </div>
            </div>
            <div class="small-12 medium-5 large-6 column pricing-left">
                <div class="inner-wrapper">
                    <div class="pricing-left-row delay-2 clearfix">
                        <img src="img/zoopla_good.png" alt="">
                        <a href="#">Browse listings </a>
                    </div>
                    <div class="pricing-left-row delay-2 clearfix">
                        <img src="img/logo-rightmove.png" alt="">
                        <a href="#">Browse listings </a>
                    </div>
                    <img src="img/signup-popup-img.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="scroll-anchor-all-you-need-to-know"></div>

    <section class="all-you-need-to-know e-in">
        <div class="row">
            <h2 class="delay-1">Reneza <br>features</h2>
            <div class="dots-container">
                <div class="dots-inner-container">
                    <div class="bubble e-in">
                        <div class="bubble-image-wrapper">
                            <div class="bubble-image lazy" data-src="img/explanation-img-5.jpg"></div>
                        </div>
                        <div class="bubble-content">
                            <div class="bubble-content-inner-wrapper">
                                <h5>Ditch the crazy<br> admin fees</h5>
                                <p>Traditional letting agencies will charge you an average of 300£ just to move in -
                                    they call them “admin fees”. At Reneza, we won’t rip you off. We’ll never charge
                                    you for references, credit checks or ID checks, and all tenancy agreements come at
                                    no cost.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bubble e-in">
                        <div class="bubble-image-wrapper">
                            <div class="bubble-image lazy" data-src="img/explanation-img-4.jpg"></div>
                        </div>
                        <div class="bubble-content">
                            <div class="bubble-content-inner-wrapper">
                                <h5>Rent it Out - Without<br> Stressing Out</h5>
                                <p>Renting out your property has never been easier – all it takes is 6 easy steps.
                                    We’ll guide you through the whole process and make sure there’s no stone left
                                    unturned.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bubble e-in">
                        <div class="bubble-image-wrapper">
                            <div class="bubble-image lazy" data-src="img/explanation-img-1.jpg"></div>
                        </div>
                        <div class="bubble-content">
                            <div class="bubble-content-inner-wrapper">
                                <h5>All-In-One Platform</h5>
                                <p>Our transparent management tool keeps you current with just about everything. Reneza
                                    lets you manage payments, events and maintenance issues in the palm of your hand.
                                    Messy paperwork and dreadful phone calls are a thing of the past, and our
                                    integrated chat keeps you connected with your landlord, housemates and agents.
                                    Plus, you’ll always know what’s going on with handy real-time tracking and
                                    notifications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bubble e-in">
                        <div class="bubble-image-wrapper">
                            <div class="bubble-image lazy" data-src="img/explanation-img-2.jpg"></div>
                        </div>
                        <div class="bubble-content">
                            <div class="bubble-content-inner-wrapper">
                                <h5>Improve Your Credit<br>Score</h5>
                                <p>As of this year, rental payments are reflected in your credit score. We’ll keep tabs
                                    on your payments and transactions, reporting our rental insights to credit
                                    providers. Improve your numbers and get better rates – just by paying your rent.
                                    And did we mention it’s free?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bubble e-in">
                        <div class="bubble-image-wrapper">
                            <div class="bubble-image lazy" data-src="img/explanation-img-7.svg"></div>
                        </div>
                        <div class="bubble-content">
                            <div class="bubble-content-inner-wrapper">
                                <h5>Tenant Passport</h5>
                                <p>Your Tenant Passport is a verified, personal profile that you can export and share
                                    at all times, helping you rent effortlessly and instantly in the future.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
            <div class="trees-container e-in">
                <div class="tree"></div>
                <div class="tree"></div>
                <div class="tree"></div>
                <div class="tree"></div>
            </div>
-->

            </div>

        </div>
    </section>

    <div class="footer-outter-wrapper">

        <div class="foot e-in">

            <div class="row">
                <div class="small-12 medium-7 large-6 column">
                    <div class="text-content">
                        <h3 class="delay-1">Forget traditional letting agencies. Try Reneza today!</h3>
                        <div class="button-wrapper delay-2">
                            <form class="home-signup down tenant">
                                <div class="input-wrapper">
                                    <input class="email" required="" placeholder="Your Email Addess" type="email">
                                    <span class="error-text">Email is incorrect</span>
                                    <div class="button-wrapper">
                                        <button type="submit" class="button popup-after-form" href="#"><span>sign up now</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-5 large-6 column img-column">
                    <div class="phone-image-wrapper delay-3">
                        <img class="lazy" data-src="img/iphonexnaujas.png" />
                    </div>
                    <div class="laptop-image-wrapper delay-4">
                        <img class="lazy" data-src="img/kompiuteris.png" />
                    </div>
                </div>
            </div>

            <div class="waves-container">

                <div class="lines-container">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>

                <div class="svg-container">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2880"
                        height="1972" viewBox="0 0 1440 986">
                        <defs>
                            <style>
                                .cls-1 {
                                    opacity: 0.7;
                                }

                                .cls-2 {
                                    fill: #fff;
                                    stroke: #f2f3f7;
                                    stroke-width: 1px;
                                }

                                .cls-2,
                                .cls-3 {
                                    fill-rule: evenodd;
                                }

                                .cls-3 {
                                    fill: url(#linear-gradient);
                                }

                                .cls-4 {
                                    fill: #e8eaf0;
                                }
                            </style>
                            <linearGradient id="linear-gradient" x1="7133.5" y1="1341" x2="7133.5" y2="809.656"
                                gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#fff" />
                                <stop offset="1" stop-color="#f2f3f7" />
                            </linearGradient>
                        </defs>
                        <g class="cls-1">
                            <!--path class="cls-2" d="M6513,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy" data-name="Shape 9 copy" class="cls-2" d="M6822.55,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_8" data-name="Shape 9 copy 8" class="cls-2" d="M6667.55,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_2" data-name="Shape 9 copy 2" class="cls-2" d="M6978.1,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_3" data-name="Shape 9 copy 3" class="cls-2" d="M7133.35,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_4" data-name="Shape 9 copy 4" class="cls-2" d="M7287.9,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_5" data-name="Shape 9 copy 5" class="cls-2" d="M7598.45,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_7" data-name="Shape 9 copy 7" class="cls-2" d="M7443.45,356v985" transform="translate(-6413 -355.5)"/>
    <path id="Shape_9_copy_6" data-name="Shape 9 copy 6" class="cls-2" d="M7753,356v985" transform="translate(-6413 -355.5)"/-->
                            <path id="Rectangle_7_copy" data-name="Rectangle 7 copy" class="cls-3" d="M6412,1006.69s102.01,11.81,242.16-47.221S6870.12,837.72,7056.89,837.72s313.38,166.19,510.53,62.1S7855,810.336,7855,810.336V1341H6412V1006.69Z"
                                transform="translate(-6413 -355.5)" />
                            <!--circle id="Ellipse_5_copy_9" data-name="Ellipse 5 copy 9" class="cls-4" cx="1339.5" cy="470" r="6.5"/>
    <circle id="Ellipse_5_copy_10" data-name="Ellipse 5 copy 10" class="cls-4" cx="1184.5" cy="529" r="6.5"/>
    <circle id="Ellipse_5_copy_11" data-name="Ellipse 5 copy 11" class="cls-4" cx="1029.5" cy="579" r="6.5"/>
    <circle id="Ellipse_5_copy_12" data-name="Ellipse 5 copy 12" class="cls-4" cx="719.5" cy="491" r="6.5"/>
    <circle id="Ellipse_5_copy_13" data-name="Ellipse 5 copy 13" class="cls-4" cx="564.5" cy="487" r="6.5"/-->
                        </g>
                    </svg>

                </div>


            </div>
        </div>
    </div>

</div>

<!-- partial:partial/_footer.html -->
<footer>
    <div class="footer-top">
        <div class="row small-down-1 medium-up-5 large-up-5">
            <div class="small-12 column mob-align">
                <img src="img/logo-footer_naujas.svg" alt="">
            </div>
            <div class="small-7 column">
                <div class="footer-title">
                    Reneza
                </div>
                <ul class="footer-top_menu">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="index-2.html#features">Features</a></li>
                    <li><a href="index-2.html#how-it-works">How it works</a></li>
                    <li><a href="price.html">Pricing</a></li>
                </ul>
            </div>
            <div class="small-5 column">
                <div class="footer-title">
                    Tour
                </div>
                <ul class="footer-top_menu open-trainings">
                    <li><a href="#" data-steps="onboarding">Onboarding</a></li>
                    <li><a href="#" data-steps="payments">Payments</a></li>
                    <li><a href="#" data-steps="maintanance">Management</a></li>
                </ul>
            </div>
            <div class="small-7 column">
                <div class="footer-title">
                    Built for you
                </div>
                <ul class="footer-top_menu">
                    <li><a href="build.html#1-3-properties">1-3 Properties</a></li>
                    <li><a href="build.html#portfolio-landloard">Portfolio Landloard</a></li>
                    <li><a href="build.html#dyi-landlord">DIY Landlord</a></li>
                    <li><a href="build.html#overseas-landlord">Overseas Landlord</a></li>
                    <li><a href="build.html#hmo-landlord">HMO Management</a></li>
                </ul>
            </div>
            <div class="small-5 column">
                <div class="footer-title">
                    Learn
                </div>
                <ul class="footer-top_menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="landlord-term.html">Landlord terms</a></li>
                    <li><a href="tenant-term.html">Tenant terms</a></li>
                    <li><a href="privacy.html">Privacy policy</a></li>
                    <li><a href="referral-program.html">Referral campaign terms</a></li>
                    <li><a href="get-in-touch.html">Get in Touch</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <span class="copyright">© Reneza 2018 All rights reserved</span>

            <ul class="footer_img">
                <li><img src="img/prs_footer.png" alt=""></li>
                <li><img src="img/tds_footer.png" alt=""></li>
            </ul>

            <ul class="social-links-list">
                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.facebook.com/Reneza-200266390804365/"></a></li>
                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/reneza/"></a></li>
                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.instagram.com/renezaapp/"></a></li>
                <li class="social-link"><a target="_blank" rel="noopener" href="https://www.twitter.com/renezaapp"></a></li>
            </ul>

            <div class="footer-bottom-right clearfix">
                <ul>
                    <li><a href="mailto:hello@reneza.com"><i class="icon-mail"></i>hello@reneza.com</a></li>
                    <li><a href="tel:+44 289 344 7222"><i class="icon-telephone"></i>+44 289 344 7222</a></li>
                </ul>
                <ul>
                    <li class="last-li"><i class="icon-location"></i>152-160 City Road,<br> London EC1V 2NX, UK</li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<div class="popup-wrapper sign-up-popup">

    <div class="popup step-1">

        <div class="close-popup-icon close-popup"></div>

        <div class="sign-up-popup-steps-pagination">
            <ul>
                <li class="popup-step-link" data-step="1">
                    <div class="inner-wrapper">
                        <div class="dot"></div>
                        <div class="counter">1</div>
                    </div>
                </li>
                <li class="popup-step-link" data-step="2">
                    <div class="inner-wrapper">
                        <div class="dot"></div>
                        <div class="counter">2</div>
                    </div>
                </li>
                <li class="popup-step-link" data-step="3">
                    <div class="inner-wrapper">
                        <div class="dot"></div>
                        <div class="counter">3</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="sign-up-popup-step step-1-content step-content">
            <h3>Are you a landlord?</h3>
            <p>Join our fleet of supporters today, to get early access to Reneza Beta version launching in Q4 2018.</p>
            <h4>Join now and get 1 year of Free full property management</h4>
            <img src="img/signup-popup-img.png" alt="" />
            <form novalidate class="clearfix">
                <div class="input-wrapper">
                    <input required type="name-surname" placeholder="Name Surname">
                    <span class="error-text">This field is required</span>
                </div>
                <div class="input-wrapper">
                    <input required type="phone" placeholder="Phone number">
                    <span class="error-text">This field is required</span>
                </div>
                <div class="input-wrapper">
                    <input required type="email" placeholder="Email address">
                    <span class="error-text">This field is required</span>
                </div>
                <div class="input-wrapper">
                    <button type="submit" class="button small step-change"><span>next</span></button>
                </div>
            </form>
            <div class="step-1-bottom">
                <h4>What happens next?</h4>
                <p>You will be sent to a leaderboard table. The more you refer the higher you are ranked.</p>
            </div>
        </div>

        <div class="sign-up-popup-step step-2-content step-content">
            <h3>Few more questions</h3>
            <img src="img/signup-popup-img.png" alt="" />
            <form novalidate>
                <h5>Are you a landlord?</h5>
                <div class="input-wrapper clearfix">
                    <label class="checkbox-wrapper">
                        <input required name="landlord" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">Yes</text>
                    </label>
                    <label class="checkbox-wrapper">
                        <input required name="landlord" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">No</text>
                    </label>
                </div>
                <h5>Do you manage properties yourself?</h5>
                <div class="input-wrapper clearfix">
                    <label class="checkbox-wrapper">
                        <input required name="selfmanage" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">Yes</text>
                    </label>
                    <label class="checkbox-wrapper">
                        <input required name="selfmanage" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">No</text>
                    </label>
                </div>
                <h5>How many properties do you own/manage?</h5>
                <div class="input-wrapper clearfix">
                    <label class="checkbox-wrapper">
                        <input required name="properties" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">1</text>
                    </label>
                    <label class="checkbox-wrapper">
                        <input required name="properties" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">2-5</text>
                    </label>
                    <label class="checkbox-wrapper">
                        <input required name="properties" type="radio" />
                        <span class="fake-checkbox"></span>
                        <span class="text">5+</text>
                    </label>
                </div>

                <button class="button small step-change" type="submit"><span>Next</span></button>

            </form>
        </div>

        <div class="sign-up-popup-step step-3-content step-content">
            <h3>Before you join</h3>
            <p>Welcome to Reneza customer referral campaign. You’ll find all the legal T&Cs further down the page, but
                let’s get started with the basics: </p>
            <p>Reneza letting agency is launching across The United Kingdom in September. When you refer someone to
                Reneza until September to register, you’ll enter a referral program to receive free months of
                subscription after you’ve registered your property to be managed by Reneza. You can use Reneza to find
                tenants for free and receive full property management at a fixed monthly cost of just of just £59 in
                London and £39 elsewhere. </p>
            <p>Your reward will be between 1 month to 10 years of free full property management, depending on the
                number of referrals you invite to Reneza. You are eligible eligible to receive one reward only.</p>
            <h5>Reneza Terms of Service</h5>
            <p>I also agree <a href="referral-program.html">Terms of Service</a> and <a href="privacy.html">Privacy
                    Policy</a>.</p>
            <p>By clicking accept you agree to receive email reminders for the referral program.</p>
            <div class="clearfix">
                <button class="button small step-change" type="submit"><span>accept</span></button>
                <a href="#" class="button small white close-popup"><span>decline</span></a>
            </div>
        </div>

        <div class="sign-up-popup-step step-4-content step-content">
            <h3>Check your email</h3>
            <p>Confirming your email address helps us send you the right information.</p>
            <div>
                <form novalidate>
                    <div class="input-wrapper">
                        <input required type="email" placeholder="your@email.com" />
                        <span class="error-text">This field is required</span>
                    </div>
                    <div class="button-wrapper">
                        <button class="button small red" type="submit"><span>resend email</span></button>
                    </div>
                </form>
                <span class="button white small close-popup"><span>I'll do this later</span></span>
            </div>
            <a class="change-email-address" href="#">Change email address</a>
        </div>

    </div>

</div>

<div class="popup-wrapper sign-up-popup-tenant">

    <div class="popup step-1">

        <div class="close-popup-icon close-popup"></div>

        <div class="sign-up-popup-step step-1-content step-content">
            <h3>Thanks for joining our <br> Growing Community!</h3>
            <p>We will be sharing a weekly newsletter with available properties and latest Reneza news. If you would like to unsubscribe, please follow instructions on the newsletter.</p>
            <img src="img/signup-popup-img.png" alt="" />
        </div>
    </div>
</div>

<div class="popup-wrapper check-your-rank">
    <div class="popup">
        <div class="close-popup-icon close-popup"></div>
        <h3>Check your rank</h3>
        <p>Already signed up to get free months of full free property management? Enter your email to check where you
            currently rank.</p>
        <form novalidate>
            <div class="input-wrapper">
                <input required type="email" placeholder="your@email.com" />
                <span class="error-text">This field is required</span>
            </div>
            <div class="button-wrapper">
                <button class="button small red" type="submit"><span>check</span></button>
            </div>
        </form>
    </div>
</div>

</div>

<script type="text/javascript" src="js/app-min.js"></script>
<script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
<script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.js"></script>
<script type="text/javascript" src="js/jquery.bez-min.js"></script>
<script type="text/javascript" src="js/validation.js"></script>
<script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script type="text/javascript">
// NEW
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

function onYouTubeIframeAPIReady() {
    player = new YT.Player('tv', {
        width: 600,
        height: 400,
        videoId: 'GOICpjLyxnY',
        playerVars: {
            autoplay: 0,
            autohide: 1,
            modestbranding: 0,
            rel: 0,
            showinfo: 1,
            controls: 1,
            disablekb: 1,
            enablejsapi: 1,
            iv_load_policy: 3,
            origin: 'http://localhost:3000',
        },
        events: {
            onReady: initialize,
            onStateChange: onPlayerStateChange
        }
    });
}

function initialize(){

}

function onPlayerStateChange(e) {
    if (e.data == YT.PlayerState.ENDED) {
        jQuery('.cover').addClass('backe');
        setTimeout(function() {
           jQuery('.video-player').removeClass('live');
        }, 1000);
    }
}

function vidRescale(){
    // var w = jQuery(window).width();
    // var h = jQuery(window).height();

    // if (w/h > 16/9){
    //     player.setSize(w, w/16*9);
    //     jQuery('.video-player .screen').css({'left': '0px'});
    // } else {
    //     player.setSize(h/9*16, h);
    //     jQuery('.video-player .screen').css({'left': -(jQuery('.video-player .screen').outerWidth()-w)/2});
    // }
}

jQuery(window).on('load resize', function(){
    vidRescale();
});

jQuery('.close-btn').click(function(event) {
    jQuery('.video-player').removeClass('live');
    jQuery('.cover').addClass('backe');

    var $wrapper = jQuery('.video-wrapper');

    if ($wrapper.hasClass('video-playing')) {
        $wrapper.removeClass('video-playing');
    } else {
        $wrapper.addClass('video-playing');
    }

    player.pauseVideo();

    event.preventDefault();
});


jQuery('.video-wrapper').on('click', function () {

    var video = jQuery(this).find('video').get(0);
    var $wrapper = jQuery(this);

    if ($wrapper.hasClass('video-playing')) {
        $wrapper.removeClass('video-playing');
    } else {
        $wrapper.addClass('video-playing');
    }

    jQuery('.video-player').addClass('live');

    player.playVideo();
    player.setPlaybackRate('hd1080');

    setTimeout(function() {
        jQuery('.cover').removeClass('backe');
    }, 1000);

    event.preventDefault();

});


jQuery('.pause').on('click', function () {
    if(jQuery(this).hasClass('plays')) {
        jQuery(this).removeClass('plays').attr('src', 'img/pauze.png');
        player.playVideo();
    } else {
        jQuery(this).addClass('plays').attr('src', 'img/plays.png');
        player.pauseVideo();
    }
});

jQuery('.mute').on('click', function() {
    if(jQuery(this).hasClass('unmute')) {
        jQuery(this).removeClass('unmute').attr('src', 'img/volume.png');
        player.unMute();
    } else {
        jQuery(this).addClass('unmute').attr('src', 'img/mute.png');
        player.mute();
    }
});
</script>
</body>


<!-- Mirrored from reneza.com/tenant.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 06:05:30 GMT -->
</html>

<!-- partial -->