<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title><%= title%></title>
      <meta name="description" content="Dashboard">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="">
      <link rel="shortcut icon" type="image/png" href="/images/favicon2.ico"/>
      <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
      <link rel="stylesheet" href="/libs/css/font-awesome.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/signin_signup_dashboard/main.css">
  </head>

  <body class="login_body">

    <%-body -%>

    <script src="/libs/js/jquery-3.3.1.min.js"></script>
    <script src="/libs/js/popper.min.js"></script>
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/javascripts/core/CRUD.js"></script>
    <script src="/javascripts/core/validations.js"></script>
    <script src="/javascripts/signin_signup/index.js"></script>
  </body>
</html>
